.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}
.root {
  background-image: url(images/11750.jpg);
  background-size: cover;
  font-family: "Benne", serif;
  background-repeat: no-repeat;
  background-position: center;
}

#crap {
  background-color: rgb(255, 248, 220, 0.5);
  border: 5px solid blueviolet;
  padding: 3%;
  border-radius: 0%;
}
.stationcontainer {
  background-color: white;
}
.card {
  padding: 50px;
  opacity: 75%;
}
.zipInput {
  margin-top: 15px;
  margin-bottom: 30px;
}

.listItem {
  color: black;
  margin-top: 10px;
  margin-top: 15px;
  size: medium;
}
